[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=LightMdEditor
Exec=/usr/bin/LightMdEditor %F
Comment=Markdown Editor
Icon=/usr/share/pixmaps/lightmdeditor.ico
StartupNotify=false
Categories=TextEditor;WordProcessor;Development;GTK;GNOME;
Keywords=markdown;programming;
GenericName=Markdown Editor
