[Desktop Entry]
Name=LightMdEditor
Icon=/usr/share/LightMd/app.ico
Type=Application
Categories=TextEditor;WordProcessor
Comment=Markdown Editor
Exec=/usr/bin/LightMdEditor %F
MimeType=text/x-markdown;
Terminal=false
X-KDE-StartupNotify=false
